.hero {
    height: 100vh;
    min-height: 650px;
    position: relative;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .top__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero__bottom-buttons {
    display: flex;
    justify-content: center;
  }


  
  

  @media (max-width: 560px){
    .user-info{
      padding-top: 0;
    }
}