.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 3.125rem;
}

@media (max-width: 560px){
    .wrapper{
        .section-title{
            font-size: 24px;
            margin-bottom: 30px;
        }  
    } 
}

