.triangles {
  position: relative;
  height: 80px;
  margin-top: -80px;
}
.triangles__item {
  display: block;
  width: 50%;
  position: absolute;
  height: 100%;
  fill: #fff;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.triangles{
  height: 80px;
}

@media (max-width: 768px){
  .triangles{
    height: 36px;
  }
}