script(type="text/x-template")#reviews__list
    .container
        .flex-reviews
            .section-title Что обо мне говорят
            .reviews__slider-controls
                button.prev-btn(@click="previous")
                button.next-btn(@click="next")
        Flickity(
            :options="flickityOptions"
            ref="flickity"
            v-if="typeof(reviews) !== 'undefined' && reviews.length > 0"
        ).reviews__slider
            .carousel-cell(v-for="review in reviews" :key="review.id") 
                .reviews__item
                    .reviews__text
                        p {{review.text}}
                    .reviews-name-wr
                        .reviews__avatar
                            img(:src="`https://webdev-api.loftschool.com/${review.photo}`" alt="reviews-person").avatar-img
                        .reviews__person
                            .reviews__name {{review.author}}
                            .reviews__position {{review.occ}}
