
script(type="text/x-template")#reviews__list
    .container
        .flex-reviews
            .section-title Что обо мне говорят
            .reviews__slider-controls
                .prev-btn(@click="previous")
                .next-btn(@click="next")
        Flickity(
            :options="flickityOptions"
            ref="flickity"
        ).reviews__slider
            .carousel-cell(v-for="review in reviews") 
                .reviews__item
                    .reviews__text
                        p {{review.text}}
                    .reviews-name-wr
                        .reviews__avatar
                            img(src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="reviews-person").avatar-img
                        
                        .reviews__person
                            .reviews__name {{review.name}}
                            .reviews__position {{review.position}}
