script(type="text/x-template")#skills-list
    .users-skills
        .skills-line(v-for="skill in skills" :key="skill.skillsGroup")
            skills-row(
                :skill="skill"
            )

script(type="text/x-template")#skills-row
    .skills-row-wrapper
        .skills-title {{skill.skillsGroup}}
        .skills-circle
            .circle__item(v-for="(skillPercent, skillName) in skill.skills")
                skill(
                    :skillName="skillName"
                    :skillPercent="skillPercent"
                )

script(type="text/x-template")#skill
        .circle__item-wr
            .skill-title {{skillName}}
            svg.percentagel(viewBox="0 0 156 156" preserveAspectRatio="none")
                circle.circle.circle_under(cx="78" cy="78" r="68")
                circle.circle.circle_above(cx="78" cy="78" r="68" ref="color-circle")
        